@media (min-width: 768px) AND (max-width: 1023px) {
  body {
    width: 768px;
    height: 750px;
  }

  header {
    width: 772px;
    height: 86px;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .header-container {
    width: 772px;
    height: 750px;
  }

  .nav-links {
    width: 46px;
    height: 32px;
    gap: 30px;
    padding-top: 6px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-left: 14px;
  }

  .header-link {
    display: none;
  }

  .buy-button {
    display: none;
  }

  .bars {
    width: 18px;
    height: 20px;
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
  }

  .hero-section {
    width: 772px;
    height: 664px;
    gap: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    background-position-y: -290px;
  }

  .top {
    width: 772px;
    height: 664px;
    gap: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
  }

  .left-part {
    width: 712px;
    height: 305px;
    gap: 70px;
    padding-bottom: 60px;
    padding-left: 120px;
  }

  .title {
    width: 400px;
    height: 76px;
    gap: 20px;
  }

  .title h1 {
    width: 1435px;
    height: 48px;
    text-align: center;
    position: relative;
    right: 500px;
  }

  .title p {
    width: 340px;
    height: 17px;
    text-align: center;
    position: relative;
    left: 50px;
  }

  .action {
    width: 712px;
    height: 48px;
    gap: 24px;
    padding-left: 70px;
  }

  .play-button {
    width: 137px;
    height: 48px;
    gap: 8px;
    padding-top: 15px;
    padding-left: 25px;
  }

  #play-text {
    width: 61px;
    height: 15px;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 4px;
  }

  .right-part {
    width: 680px;
    height: 309px;
  }

  .google {
    top: 0px;
    left: 75px;
    animation: none;
  }

  .atlassin {
    top: 0;
    left: 185px;
    animation: none;
  }

  .asana {
    top: 0;
    left: 360px;
    animation: none;
  }

  .paypal {
    top: 99px;
    right: 127px;
    animation: none;
  }

  .weave {
    top: 115px;
    animation: none;
    left: 10px;
  }

  .google-ads {
    top: 209px;
    right: 110px;
    animation: none;
  }

  .calender {
    top: 224px;
    right: -50px;
    animation: none;
  }

  .why-section {
    width: 768px;
    height: 354px;
    gap: 40px;
  }

  .why-text {
    width: 600px;
    height: 89px;
    gap: 10px;
    position: inherit;
    margin-top: 25px;
    margin-left: 15px;
  }

  .why-text p {
    margin-left: 20px;
  }

  .why-list {
    width: 700px;
    height: 145px;
    position: inherit;
    padding-left: 0px;
    justify-content: center;
  }

  .dot-container {
    width: 180px;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .dot-text {
    margin-left: 45px;
  }
  .dots-text {
    font-size: 15px;
  }

  .combined {
    margin-left: 19px;
    position: relative;
    left: 20px;
  }

  .pricing-container {
    width: 768px;
    height: 1013px;
    gap: 60px;
    padding-bottom: 60px;
  }

  .pricing-title {
    width: 768px;
    height: 60px;
    gap: 10px;
  }

  .price-card {
    width: 768px;
    height: 833px;
    gap: 30px;
    padding-right: 44px;
    padding-left: 44px;
  }

  .pricing-table {
    flex-direction: column;
    position: relative;
    top: 160px;
    width: 768px;
    height: 833px;
    gap: 30px;
    padding-right: 44px;
    padding-left: 44px;
  }

  .primary-table {
    width: 680px;
    height: 373px;
    gap: 50px;
    border-width: 1px;
    padding: 40px;
  }

  .plan-header {
    width: 600px;
    height: 170px;
    gap: 30px;
  }

  .plan-header p {
    text-align: start;
    width: 600px;
    height: 48px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .price {
    width: 114px;
    height: 61px;
    gap: 7px;
    margin-left: 250px;
  }

  #backspace {
    width: 7px;
    height: 24px;
    color: rgba(103, 119, 136, 1);
    font-family: SF Pro;
    font-weight: 510;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  br {
    display: none;
  }

  hr {
    width: 100%;
    height: 1px;
    gap: 10px;
    display: flex;
  }

  .primary-bottom {
    position: relative;
    left: 220px;
  }

  .features {
    width: 680px;
    height: 430px;
  }

  .features-one {
    width: 680px;
    height: 219px;
  }

  .features-items {
    width: 335px;
    height: 219px;
    gap: 20px;
    border-width: 1px;
    padding: 20px;
  }

  .puzzle p {
    width: 295px;
  }

  .diamond p {
    width: 295px;
    height: 44px;
  }

  .features-two {
    width: 680px;
    height: 201px;
    gap: 10px;
  }

  .two {
    width: 335px;
    height: 201px;
    gap: 20px;
    border-width: 1px;
    padding: 20px;
  }

  .tag-top {
    width: 295px;
    height: 93px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  tag-button button {
    width: 60px;
    height: 17px;
    gap: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 15px;
  }

  .tag-bottom p {
    width: 295px;
    height: 48px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .money {
    width: 335px;
    height: 197px;
    gap: 20px;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .money p {
    width: 295px;
    height: 44px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
  }
}
