@media (min-width: 768px) AND (max-width: 1023px) {
  body {
    width: 768px;
    height: 750px;
  }

  header {
    width: 772px;
    height: 86px;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .header-container {
    width: 772px;
    height: 750px;
  }

  .top {
    width: 772px;
    height: 664px;
    gap: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
  }

  .left-part {
    width: 712px;
    height: 305px;
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
    padding-left: 120px;
  }

  .title {
    width: 400px;
    height: 76px;
    gap: 11px;
  }

  .title h1 {
    width: 1435px;
    height: 48px;
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    position: relative;
    right: 500px;
  }

  .title p {
    width: 334px;
    height: 17px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(103, 119, 136, 1);
    position: relative;
    left: 65px;
  }

  .action {
    width: 712px;
    height: 48px;
    gap: 24px;
    padding-left: 90px;
  }

  .right-part {
    width: 712px;
    height: 309px;
  }
}
