header {
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: rgba(246, 248, 250, 1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: 86px;

  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.header-logo {
  width: 154.9px;
  height: 46.1px;
  display: flex;
  gap: 10px;
}

.links {
  height: 57px;
  padding: 6px 14px;
  display: flex;
  gap: 30px;
}

nav {
  display: flex;
  gap: 20px;
}

.header-link a {
  width: 40px;
  height: 17px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.header-link a:hover {
  color: rgba(36, 118, 255, 1);
}

.buy-button p {
  width: 52px;
  height: 15px;
}

.hero-section {
  display: flex;
  height: 446px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: center;
}

.background-image {
  width: 100%;
}

.bg {
  height: 435px;
  width: 100%;
  z-index: -1;
  display: flex;
  position: absolute;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-part {
  display: flex;
  gap: 30px;
  padding-bottom: 60px;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.title h1 {
  margin-bottom: 0;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.title p {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.action {
  display: flex;
  height: 48px;
  gap: 24px;
}

#learn {
  padding-top: 15px;
  width: 78px;
  height: 17px;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.play-button {
  width: 137px;
  height: 48px;
  display: flex;
  gap: 8px;
  padding: 15px 24px;
  border-radius: 30px;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.play-button i {
  width: 18px;
  height: 18px;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
}

#play-text {
  width: 61px;
  height: 15px;
}

.right-part {
  display: flex;
  height: 406px;
  padding-top: 20px;
  position: relative;
}

.logos img {
  width: 48px;
  height: 48px;
}

.google img,
.google-ads img {
  width: 40px;
  height: 40px;
}

.google {
  width: 60px;
  height: 60px;
  position: relative;

  border-radius: 30px;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: right-way 3s none;
}

.atlassin {
  width: 80px;
  height: 80px;
  position: relative;

  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: upward 3s none;
}
.asana {
  width: 80px;
  height: 80px;
  position: relative;

  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: right-way 3s none;
}
.paypal {
  width: 80px;
  height: 80px;
  position: relative;

  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: upward 3s none;
}
.google-ads {
  width: 60px;
  height: 60px;
  position: relative;

  border-radius: 30px;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: right-way 3s none;
}

.weave {
  width: 80px;
  height: 80px;
  position: relative;

  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: upward 3s none;
}
.calender {
  width: 80px;
  height: 80px;
  position: relative;

  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.25);
  animation: upward 3s none;
}

.why-section {
  display: flex;
  gap: 40px;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
}
.why {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
}

.why-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.why-text h2 {
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
}

.why-text p {
  height: 48px;
  font-family: Inter;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: rgba(103, 119, 136, 1);
}

.why-list {
  display: flex;
  justify-content: center;
}

.dot-container {
  height: 145px;
  gap: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.top-dot {
  display: flex;
  height: 50px;
  gap: 4px;
}

.dot-text,
.combined,
.page {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.dots {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 12px 10px;
  background: rgba(236, 242, 255, 1);
}

.fa-circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  color: rgba(0, 102, 255, 1);
  font-size: 6px;
}

.leftwing-start {
  width: 83px;
  height: 1px;
}

#leftwing {
  width: 83px;
  height: 1px;
  background: rgba(230, 233, 242, 1);
  position: relative;
  top: 25px;
}

#rightwing {
  width: 83px;
  height: 1px;
  background: rgba(230, 233, 242, 1);
  position: relative;
  top: 25px;
}

.pricing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 120px;
}

.pricing-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  gap: 10px;
}

.pricing-title h1 {
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: auto;
}

.pricing-title p {
  height: 19px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(103, 119, 136, 1);
}

.price-cards {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing-table {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.primary-table {
  height: 452px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-width: 1px;
  padding: 40px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(226, 226, 226, 1);
  justify-content: center;
}

.primary-table:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.plan-header {
  height: 194px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan-header hr {
  width: 100%;
  height: 1px;
  color: rgba(141, 141, 141, 1);
  margin: auto;
}

.plan-header p {
  height: 72px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(103, 119, 136, 1);
}

.price {
  width: 114px;
  height: 61px;
  display: flex;
  gap: 7px;
}

.price h1 {
  width: 63px;
  height: 61px;
  font-family: Inter;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin: auto;
}

.price-end {
  width: 44px;
  height: 33px;
  display: flex;
  gap: 7px;
  padding-bottom: 9px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 20px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

#credit {
  color: rgba(103, 119, 136, 1);
}

.primary-bottom {
  width: 137px;
  height: 73px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primary-bottom p {
  width: 136px;
  height: 15px;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.features {
  display: flex;
  flex-direction: column;
}

.features img {
  width: 50px;
  height: 50px;
}

.features-one {
  height: 219px;
  display: flex;
}

.features-items {
  width: 277px;
  height: 201px;
  display: flex;
  gap: 20px;
  border-width: 1px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 1);
  text-align: start;
}
.puzzle {
  width: 237px;
  height: 179px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.puzzle h2 {
  width: 224px;
  height: 23px;
  display: flex;
  gap: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.puzzle p {
  height: 66px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(103, 119, 136, 1);
}

.diamond {
  width: 237px;
  height: 179px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diamond h2 {
  width: 145px;
  height: 23px;
  display: flex;
  gap: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.diamond p {
  height: 66px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(103, 119, 136, 1);
}

.features-two {
  height: 201px;
  display: flex;
}

.tag {
  display: flex;
  flex-direction: column;
  width: 237px;
  height: 161px;
}
.tag-top {
  width: 237px;
  height: 93px;
}

.tag-button {
  width: 192px;
  height: 23px;
  display: flex;
  gap: 10px;
}

.tag-button h2 {
  width: 122px;
  height: 19px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.tag-top button {
  width: 60px;
  height: 23px;
  display: flex;
  gap: 10px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  border-radius: 15px;
  background: rgba(1, 201, 167, 1);
  border: 1px solid rgba(1, 201, 167, 1);
}

.tag-bottom p {
  width: 237px;
  height: 48px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(103, 119, 136, 1);
}

.money {
  width: 237px;
  height: 157px;
  gap: 20px;
}

.money h2 {
  width: 107px;
  height: 22px;
  display: flex;
  gap: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.money p {
  width: 237px;
  height: 44px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(103, 119, 136, 1);
}

.hire-us-section {
  width: 100%;
  display: flex;
  background: rgba(32, 51, 91, 1);
  justify-content: space-evenly;
}

.left-path {
  height: 510px;
  display: flex;
  align-content: center;
  gap: 90px;
}

.left-path hr {
  height: 1px;
  color: rgba(255, 255, 255, 1);
}

.hire-top {
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hire-title {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hire-title h2 {
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.hire-title p {
  width: 370px;
  height: 24px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(103, 119, 136, 1);
}

.quote {
  width: 363px;
  height: 48px;
}

.quote p {
  height: 48px;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.hire-bottom {
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hire-bottom img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hiring-button :hover {
  background-color: white;
  color: rgba(36, 118, 255, 1);
}

.person {
  width: 208px;
  height: 43px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}

.person h3 {
  margin: 0px;
  width: 144px;
  height: 22px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.person p {
  padding-bottom: 30px;
  width: 188px;
  height: 17px;
  font-family: Inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.right-path {
  display: flex;
  gap: 10px;
}

.data {
  display: flex;
  gap: 37px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

form {
  height: 506px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h2 {
  height: 48px;
  font-family: SF Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.data input {
  height: 44px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid rgba(230, 232, 242, 1);
}

.name {
  display: flex;
}

.email {
  height: 44px;
  display: flex;
}

.email input {
  height: 44px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid rgba(230, 232, 242, 1);
}

.where-you-live {
  height: 44px;
  display: flex;
  gap: 20px;
}

.where-you-live select {
  height: 44px;
  border-radius: 5px;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid rgba(230, 232, 242, 1);
  background-color: white;
}

textarea {
  height: 150px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid rgba(230, 232, 242, 1);
}

.form-group {
  height: 76px;
  display: flex;

  gap: 16px;
  border-radius: 5px;
}

#checkbox {
  height: 28px;
  display: flex;
  gap: 10px;
  padding-top: 4px;
  margin: 0px;
}

.form-group label {
  display: flex;
  flex-direction: column;
}

.form-group h3 {
  height: 44px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 22px;
  color: rgba(130, 130, 130, 1);
  margin: 0px;
}

.policy {
  width: 290px;
  height: 22px;
  display: flex;
  gap: 28px;
}

.policy-1 {
  width: 131px;
  height: 22px;
}

.policy-1 p {
  width: 136px;
  height: 22px;
  font-family: SF Pro;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: rgba(103, 119, 136, 1);
}
.policy-1 hr {
  width: 131px;
  height: 1px;
  border: 2px dashed rgba(103, 119, 136, 1);
  margin: 0px;
}

.policy-1 :hover {
  color: rgba(36, 118, 255, 1);
}

.submit {
  align-self: center;
}

#submit {
  width: 125px;
  height: 45px;
  display: flex;
  gap: 24px;
  border-radius: 30px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  background: rgba(36, 118, 255, 1);
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

#submit:hover {
  background-color: white;
  color: rgba(36, 118, 255, 1);
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.footer-frame {
  width: 100%;
  height: 166px;
  display: flex;
  gap: 40px;
}

.address {
  height: 93px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address p {
  width: 100%;
  height: 44px;
  display: flex;
  gap: 10px;
}

.footer-font {
  width: 100px;
  height: 30px;
}

.home {
  width: 231px;
  height: 17px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.fa-location-arrow {
  width: 11px;
  height: 14px;
  padding-top: 2px;
}

.number {
  width: 129px;
  height: 17px;
  font-family: SF Pro;
  font-weight: 510;

  line-height: 100%;
  color: rgba(37, 118, 255, 1);
}

.fa-phone {
  width: 12;
  height: 14;
  padding-top: 2px;
  color: rgba(103, 119, 136, 1);
}

.business-info {
  height: 166px;
  display: flex;
  gap: 49px;
  justify-content: space-evenly;
}

.footer-one,
.footer-two {
  display: flex;
  gap: 40px;
}

.company {
  width: 110px;
  height: 166px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hiring-button:hover {
  background-color: white;
  color: rgba(36, 118, 255, 1);
}

.company h3,
.footer-features h3,
.documentation h3,
.resources h3 {
  height: 21px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  margin-bottom: 0px;
}

.company-list {
  width: 110px;
  height: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-list ul,
.footer-features-list ul,
.documentation-list ul,
.resources-list ul {
  width: 110px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-list li,
.footer-features-list li,
.documentation-list li,
.resources li {
  width: 110px;
  height: 17px;
  margin: 0px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
  display: flex;
  gap: 9px;
}

.career {
  width: 110px;
  height: 17px;
  display: flex;
  gap: 9px;
}
.hiring-button {
  width: 55px;
  height: 14px;
  gap: 10px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-radius: 3px;
  background: rgba(37, 118, 255, 1);
}
.hiring-button h4 {
  width: 47px;
  height: 10px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  bottom: 10px;
  left: 4px;
}

.footer-features {
  width: 95px;
  height: 139px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-features-list {
  width: 95px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-features-list ul :hover {
  color: rgba(36, 118, 255, 1);
}

.footer-features-list ul {
  width: 95px;
  height: 17px;
  margin: 0px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.notes h4 {
  width: 95px;
  height: 17px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
}

.documentation {
  width: 143px;
  height: 166px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.documentation-list {
  width: 130px;
  height: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.documentation-list h4 {
  width: 130px;
  height: 17px;
  margin: 0px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}

.resources {
  width: 112px;
  height: 85px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resources-list {
  width: 112px;
  height: 44px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-list h4 {
  width: 112px;
  height: 17px;
  display: flex;
  gap: 9px;
  margin: 0px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: rgba(103, 119, 136, 1);
}
