header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 100px;
}

.header-logo {
  width: 220px;
  padding: 25px 25px;
}

.links {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-top: 20px;
}

.links ul {
  display: flex;
  gap: 25px;
  padding-right: 50px;
  padding-top: 15px;
  list-style: none;
  color: black;
}

.header-link a {
  color: black;
  font-family: "Roboto", serif;
}

.header-link a:hover {
  color: rgb(54 142 235);
}
